.button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    border-radius: 12.4px;
    height: 100%;
    width: 100%;
    padding: 18px 30px;
    text-align: center;
    text-wrap: nowrap;
}

.button__iconed {
    display: flex;
    column-gap: 13px;
}

.button__primary {
    color: #fff;
    background-color: #6C5FBC;
    border: none;
}

.button__ghost {
    border-color: #6C5FBC;
    color: #6C5FBC;
    border-width: 1.5px;
    background-color: #fff;
}

.button_icon {
    width: 26px;
    height: 26px;
}








.button:link,
.button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
