.button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.5;
    border-radius: 1.3rem;
    height: 100%;
    width: 100%;
    padding: 1.8rem 3rem;
    text-align: center;
    text-wrap: nowrap;
}

.button__iconed {
    display: flex;
    column-gap: 1.3rem;
}

.button__primary {
    color: var(--colors-interface-white);
    background-color: var(--colors-button-primary-default);
    border: none;
}

.button__ghost {
    border-color: var(--colors-button-primary-default);
    color: var(--colors-button-primary-default);
    border-width: 0.15rem;
    background-color: var(--colors-button-secondary-default);
}

.button_icon {
    width: 2.6rem;
    height: 2.6rem;
}








.button:link,
.button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
