.purchases_container {
    width: 1250px;
    height: 600px;
    display: flex;
    margin-top: 131px;
    justify-content: space-between;
    border-bottom: 1px solid #CBCBCB;
    align-self: center;
}

.purchases_image {
    display: flex;
    width: 534px;
    height: 458px;
}
