.purchases_container {
    max-width: 1250px;
    padding-bottom: 136px;
    display: flex;
    margin-top: 131px;
    justify-content: space-between;
    border-bottom: 1px solid #CBCBCB;
    align-self: center;
}

.purchases_image_wrapper {
    display: flex;
    width: 534px;
    height: 458px;
    padding-left: 10px;
}

.purchases_image {
    margin-left: 10px;
}

@media screen and (max-width: 1300px) {
    .purchases_container {
        flex-direction: column;
        height: fit-content;
        row-gap: 35px;
        border-bottom: none;
        margin-top: 0px;
        text-align: center;
        padding-bottom: 0;
    }
}
