.purchases-container {
    width: 100%;
}

.purchases {
    padding-bottom: 13.6rem;
    display: flex;
    margin-top: 13rem;
    justify-content: space-between;
    border-bottom: .1rem solid #CBCBCB;
    align-self: center;
    margin-left: 9.7rem;
    margin-right: 9.7rem;
}

.purchases__text {
    flex: 0 1 50%;
}

.purchases__image {
    flex: 0 1 50%;
    width: 53.5rem;
    height: 46rem;
    /* padding-left: 1rem; */
}

/* .purchases_image {
    margin-left: 1rem;
} */

/* @media screen and (max-width: 1300px) {
    .purchases_container {
        flex-direction: column;
        height: fit-content;
        row-gap: 3.5rem;
        border-bottom: none;
        margin-top: 0px;
        text-align: center;
        padding-bottom: 0;
    }
} */
