.back-button {
    max-width: 1250px;
    margin-top: 90px;
    margin-left: 96px;
    display: flex;
    align-self: self-start;
}

.comments {
    margin-top: 100px;
    max-width: 1250px;
    width: 100%;
    padding-left: 116px;
    padding-right: 116px;
    box-sizing: border-box;
}

.comments-title {
    padding-left: 96px;
    padding-right: 96px;
}

.commets-add {
    width: 100%;
    margin-top: 100px;
    max-width: 1250px;
    margin-left: 96px;
    margin-right: 96px;
}

.alert {
    position: fixed;
    bottom: 0em;
    left: 0em;
}

/*
@media screen and (max-width: 1440px) {
    .comments {}
} */
