.main-container {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    margin-left: 9.7rem;
    margin-right: 9.7rem;
}

.back-button {
    margin-top: 9rem;
    display: flex;
    align-self: self-start;
    width: 19rem;
}

.comments-block {
    margin-top: 10rem;
    max-width: 125rem;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;
}

.commets {
    margin-top: 10rem;
}

.commets-add {
    width: 100%;
    margin-top: 10rem;
    max-width: 125rem;
}

.alert {
    position: fixed;
    bottom: 0rem;
    left: 0rem;
}
