.money {
    height: 33px;
    font-family: "Manrope", sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0.3;
    text-align: right;
    color: #1A202C;
}
