.faqItem {
    width: 1152px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border-bottom: 1.06px solid #ADADAD;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 13px;
    justify-content: center;
}

.faqItem__expanded {
    height: 182px;
    justify-content: flex-start;
}

.faqItem-conrol {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.faqItem_image {
    width: 30px;
    height: 30px;
}

.faqItem-answer {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    height: 60px;
    color: #686868;
    letter-spacing: 0.015em;
    margin-top: 20px;
}
