.container {
    width: 680px;
    height: 607px;
    background: #fff;
}

.waves_wrapper {
    position: relative;
    margin-left: auto;
    width: fit-content;
}

.widget_wrapper {
    position: relative;
    left: 311px;
    z-index: 1;
}

.hero_image_wrapper {
    box-sizing: border-box;
    position: relative;
    top: -20px;
    left: 120px;
    z-index: 0;
    width: 423px;
    height: 423px;
}


.hero_image__mask {
    min-width: 380px;
    min-height: 380px;
    border-radius: 50%;
    border: 20px solid #6C5FBC;
    position: relative;
    top: -456px;
    left: 24px;
}
