.container {
    /* width: 68rem;
    height: 60rem; */
    flex: 0 1 50%;
    background: var(--colors-interface-white-bg);
    position: relative;
}

.waves_wrapper {
    position: absolute;
    margin-left: auto;
    width: 4rem;
    height: 2.5rem;
    left: 61.5rem;
    top: -3rem;
}

.widget_wrapper {
    position: absolute;
    left: 29rem;
    z-index: 3;
}

.hero_image_wrapper {
    box-sizing: border-box;
    position: absolute;
    left: 8rem;
    top: 5rem;
    z-index: 0;
    width: 45rem;
    height: 45.5rem;
}

.hero_image__mask {
    min-width: 38rem;
    min-height: 38rem;
    width: 38rem;
    height: 38rem;
    border-radius: 50%;
    border: 2rem solid #6C5FBC;
    position: absolute;
    top: 5.5rem;
    left: 12.4rem;
    z-index: 2;
}

.graph_wrapper {
    position: absolute;
    width: 20.7rem;
    height: 20.5rem;
    top: 29rem;
    left: 5rem;
    z-index: 3;
}

.arrow_wrapper {
    position: absolute;
    top: 10rem;
    left: 49rem;
    z-index: 1;
    width: 10rem;
    height: 10rem;
}


.rays_wrapper {
    position: absolute;
    top: 46rem;
    left: 18px;
    width: 4rem;
    height: 3rem;
}
