.interest {
    height: 24px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.6pxpx;
    text-align: left;
    color: #A0AEC0;
}
