.lunch_container {
    padding-bottom: 23rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    border-bottom: 0.1rem solid var(--colors-interface-border);
    align-self: center;
}

.lunches_list {
    display: flex;
    column-gap: 2.5rem;
    margin-top: 9rem;
    padding-inline-start: 0px;
}

/* @media screen and (max-width: 1300px) {
    .lunches_list {
        flex-direction: column;
        height: fit-content;
        row-gap: 25px;
    }

    .lunch_container {
        border-bottom: none;
    }
} */
