.app_block {
    display: flex;
    height: 740px;
    align-self: center;
    margin-top: 106px;
    border-bottom: 1px solid #CBCBCB;
    column-gap: 219px;
}

.images {
    padding-left: 112px;
}

.images_phone {
    padding-left: 5px;
}

@media screen and (max-width: 1300px) {
    .app_block {
        flex-direction: column;
        height: fit-content;
        row-gap: 35px;
        border-bottom: none;
        text-align: center;
        padding-bottom: 0;
    }
}
