.app_block {
    width: 100%;
    margin-top: 10rem;
}

.app_block__container {
    display: flex;
    height: 74rem;
    align-self: center;
    border-bottom: 1px solid #CBCBCB;
    /* column-gap: 22rem; */

    margin-left: 9.7rem;
    margin-right: 9.7rem;
}

.images {
    /* padding-left: 11rem; */
    flex: 0 1 50%;
}

.images_phone {
    padding-left: 11.5rem;
    width: 37rem;
    height: 62.5rem;
}

/* @media screen and (max-width: 1300px) {
    .app_block {
        flex-direction: column;
        height: fit-content;
        row-gap: 35px;
        border-bottom: none;
        text-align: center;
        padding-bottom: 0;
    }
} */
