.food_widget_container {
    width: 330px;
    height: 90px;
    border-radius: 16.4px;
    background-color: #fff;
    display: flex;
    padding: 8px 25px 8px 15px;
    align-items: center;
    box-sizing: border-box;
}

.selected {
    box-shadow: -10px 12.3px 20.5px 0px #00000026;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_block {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    height: 50px;
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: 2px;
}

.info_block__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    color: #323142;
}

.info_block__desc {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    font-size: 10px;
    line-height: 14px;
    margin: 0;
    margin-top: 4px;
    padding: 0;
    color: #323142;
}

.time {
    align-self: flex-end;
    margin-left: auto;
}
