@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../../../assets/fonts/poppins_600.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../../../assets/fonts/poppins_500.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.food_widget_container {
    width: 330px;
    height: 90px;
    border-radius: 16.4px;
    background-color: #fff;
    display: flex;
    padding: 8px 25px 8px 15px;
    align-items: center;
    box-sizing: border-box;
}

.selected {
    box-shadow: -10px 12.3px 20.5px 0px #00000026;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_block {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    height: 50px;
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: 2px;
}

.info_block__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    color: #323142;
}

.info_block__desc {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    margin: 0;
    margin-top: 4px;
    padding: 0;
    color: #323142;
}

.time {
    align-self: flex-end;
    margin-left: auto;
}
