.article-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 94px;
}

.articles-preview_previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1236px;
    margin-top: 75px;
    column-gap: 65px;
    row-gap: 42px;
}
