.article-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9.5rem;
}

.articles-preview_previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* max-width: 1236px; */
    margin-top: 7.5rem;
    column-gap: 6.5rem;
    row-gap: 4rem;
}
