.navlink {
      font-family: "Inter", sans-serif;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
}

.navlink_header {
      color: #606060;
}

.navlink_footer {
      color: #999;
}
