.navlink {
      font-family: "Inter", sans-serif;
      font-size: 1.8rem;
      line-height: 1.5;
      font-weight: 500;

      display: inline-block;
}

.navlink_header {
      color: #606060;
      text-decoration: none;
}

.navlink_footer {
      color: #999;
      text-decoration: none;
}

.navlink:hover {
      transform: translateY(-5px);
      text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
}

.navlink:active {
      transform: translateY(-5px);
      text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.6);
}
