.rating {
    display: flex;
    height: 100%;
    font-family: "Manrope", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    color: var(--colors-interface-gray-medium);
    column-gap: .2rem;
    width: fit-content;
    align-items: center;
}

.rating__star {
    height: 3rem;
}

@media screen and (width<768px) {
    .rating {
        height: 100%;
        font-size: clamp(12px, 1.3rem, 35px);
    }
}
