.app_text_block {
    max-width: 560px;
    max-height: 555px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}

.list_wrapper {
    margin-top: 67px;
    padding-left: 19px;
}

.button-arrow_wrapper {
    margin-top: 63px;
}

.button-wrapper {
    width: 188px;
    height: 60px;
}

.arrow-wrapper {
    position: relative;
    top: -8px;
    left: 160px;
    width: 176px;
}
