.article {
    margin-top: 12.5rem;
    /* max-width: 1250px; */
}

.article-title {
    color: #252525;
}

.article-head {
    margin-top: 3rem;
}

.article-text {
    margin-top: 6rem;
    font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 2;
    text-align: justify;
    color: #252525;
}
