footer {
    width: 1440px;
    height: 345px;
    min-width: 1440px;
    min-height: 345px;
    background: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 96px 81px;
    box-sizing: border-box;
    margin-top: 80px;
}

.footer_menu {
    width: 1248px;
    height: 57px;
    min-height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {
    width: 1246px;
    border: 1px solid #818181;
    margin-top: 30px;
}

.lower {
    width: 1248px;
    height: 25px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.copy {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #999999;
}
