footer {
    width: 100%;
    background: #eaeaea;
    margin-top: 16.4rem;
}

.footer-container {
    /* min-height: 34.5rem; */
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-left: 9.7rem;
    margin-right: 9.7rem;
}

.footer_menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
}

.fotter_line {
    width: 100%;
    margin-top: 3rem;

    &:hr {
        border: .1rem solid #818181;
    }
}

.lower {
    width: 100%;
    height: 2.5rem;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
}

.copy {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.56;
    color: #999999;
}
