// .title_font {
//     font-family: "Poppins", sans-serif;
//     font-weight: 600;
//     font-style: semibold;
//     font-size: 76px;
//     line-height: 91px;
//     margin: 0;
//     padding: 0;
// }

.title_overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

span {
    color: #6C5FBC;
}

.H1 {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 7.6rem;
    line-height: 9.1rem;
}

.H2 {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    line-height: 5.8rem;
}

.H3 {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 5.4rem;
}

.H4 {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.5rem;
}

.H5 {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 4.2rem;
}
