@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,600;1,700&family=Public+Sans:wght@400..900&display=swap');

.title_font {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: semibold;
    font-size: 76px;
    line-height: 91px;
    margin: 0;
    padding: 0;
}

span {
    color: #6C5FBC;
}

@for $i from 14 through 96 {
    .lh_#{$i} {
        line-height: #{$i}px;
    }
}

@for $i from 10 through 72 {
    .fs_#{$i} {
        font-size: #{$i}px;
    }
}

$weights: 100, 200, 300, 400, 500, 600, 700;

@each $size in $weights {
    .fw_#{$size} {
        font-weight: $size;
    }
}
