.title_font {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: semibold;
    font-size: 76px;
    line-height: 91px;
    margin: 0;
    padding: 0;
}

.title-overflow_hidden{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

span {
    color: #6C5FBC;
}

@for $i from 14 through 96 {
    .lh_#{$i} {
        line-height: #{$i}px;
    }
}

@for $i from 10 through 72 {
    .fs_#{$i} {
        font-size: #{$i}px;
    }
}

$weights: 100, 200, 300, 400, 500, 600, 700;

@each $size in $weights {
    .fw_#{$size} {
        font-weight: $size;
    }
}
