.review_container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 77px;
}

.reviews_row {
    width: 1440px;
    display: flex;
    margin-left: 180px;
    column-gap: 46px;
}

.reviews_column {
    box-sizing: border-box;
    width: 100%;
    max-width: 1140px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 118px;
}

.comment-widget__wrapper_row {
    width: 100%;
}

.comment-widget__wrapper_column {
    width: 100%;
}

@media screen and (max-width: 1440px) {
    .reviews_column {
        flex-direction: column;
        /* padding-left: 96px;
        padding-right: 96px; */
    }
}
