.review-container {
    width: 100%;
}

.review-container__row {
    display: flex;
    align-items: center;
    height: 34rem;
    overflow-x: clip;
    margin-left: 9.7rem;
    margin-right: 9.7rem;
}

.reviews_row {
    display: flex;
    margin-left: 18rem;
    column-gap: 4.6rem;
}

.comment-widget__wrapper_row {
    width: 100%;
}

.review-container__column {
    margin-top: 8rem;
    margin-left: 9.7rem;
    margin-right: 9.7rem;
}

.reviews_column {
    box-sizing: border-box;
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    row-gap: 12rem;
}


.comment-widget__wrapper_column {
    width: 100%;
}
