.comment-block {}

.comment-block_title {}

.comment-block_body {
    margin-top: 51px;
    height: 35dvh;
}

.comment-block_button {
    margin-top: 51px;
    width: 19dvh;
    min-width: none;
    height: 60px;
}
