.comment-block {}

.comment-block_title {}

.comment-block_body {
    margin-top: 5rem;
    height: 3.5rem;
}

.comment-block_button {
    margin-top: 5rem;
    width: 19rem;
    min-width: none;
    height: 6rem;
}
