.container {
    width: 1440px;
    height: 220px;
    background-image: url("../../../assets/images/pngs/feature_bg.png");
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    margin-top: 83px;
}
