.logo {
    display: flex;
    align-items: center;
    column-gap: 14px;
    text-decoration: none;
}

.logo_text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: semibold;
    line-height: 28px;
    color: #6C5FBC;
}

@for $i from 14 through 72 {
    .logo_size_#{$i}{
        width: #{$i}px;
        height: #{$i}px;
    }
}

@for $i from 14 through 72 {
    .font_size_#{$i}{
        font-size: #{$i}px;
    }
}
