@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../../../assets/fonts/poppins_600.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.logo-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: semibold;
    line-height: 28px;
    color: #6C5FBC;
}

@for $i from 14 through 72 {
    .logo_size_#{$i}{
        width: #{$i}px;
        height: #{$i}px;
    }
}

@for $i from 14 through 72 {
    .font_size_#{$i}{
        font-size: #{$i}px;
    }
}
