.container {
    width: 400px;
    height: 300px;
    border: 1.25px solid #F4F4F6;
    border-radius: 30px;
    box-shadow: 6px 71px 36px 0px #E5E5E5B2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.image_wrapper {
    width: 423px;
    height: 176px;
}

.image_wrapper img {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
    position: relative;
    object-position: 0px -155px;
}

.tag_wrapper {
    margin-top: 7px;
    margin-left: 33px;
}

.text_wrapper {
    display: flex;
    align-items: center;
    height: 43px;
    margin-left: 33px;
    letter-spacing: 0.03em;
}

.info_wrapper {
    display: flex;
    height: 27px;
    display: flex;
    margin-left: 32px;
    margin-top: 2px;
    column-gap: 16px;
}
