.container {
    width: 40rem;
    height: 30rem;
    border: 0.125rem solid #F4F4F6;
    border-radius: 3rem;
    box-shadow: .6rem 7rem 3.6rem 0px #E5E5E5B2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.image_wrapper {
    width: 42rem;
    height: 17.5rem;
}

.image_wrapper img {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
    position: relative;
    object-position: 0px -15.5rem;
}

.tag_wrapper {
    margin-top: .7rem;
    margin-left: 3.3rem;
    display: flex;
    column-gap: .3rem;
}

.text_wrapper {
    display: flex;
    align-items: center;
    height: 4.3rem;
    margin-left: 3.3rem;
    margin-right: 3.3rem;
    letter-spacing: 0.03em;
}

.info_wrapper {
    display: flex;
    height: 2.7rem;
    margin-left: 3.2rem;
    margin-top: .2rem;
    column-gap: 1.6rem;
}
