.faqBlock {
    width: 1152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    align-self: center;
}

.faqBlock_title {
    text-align: center;
    width: 408px;
}

.icon_wrapper {
    position: relative;
    left: 244px;
    top: -128px;
}

.faqBlock_items {
    width: 1152px;
    margin-top: 115px;
}
