.container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.title {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 129%;
    text-align: center;
    color: #fff;
}

.desc {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 154%;
    text-align: center;
    color: #c5bfed;
    width: 210px;
    height: 44px;
    white-space: pre-wrap;
}
