.purchase_text-block {
    width: 571px;
    height: 460px;
    margin-left: 28px;
    margin-top: 2px;
}

.purchase_text-items {
    margin-top: 46px;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    list-style: none;
}
