.main_text {
    opacity: 70%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    text-align: justify;
    color: #676767;
    letter-spacing: 0;
}

.bonus_text {
    display: inline-block;
    font-weight: 500;
    color: #6155ae;
}
