.main-text {
    opacity: 70%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: justify;
    color: var(--colors-interface-gray);
    letter-spacing: 0;
}

.main-text_bonus {
    display: inline-block;
    font-weight: 500;
    color: var(--colors-button-primary-default);
}

@media screen and (width< 768px) {
    .main-text {
        /* opacity: 70%; */
        /* font-family: 'Inter', sans-serif;
        font-weight: 400; */
        font-size: 2.8rem;
        line-height: 1.6;
        /* text-align: justify;
        color: var(--colors-interface-gray);
        letter-spacing: 0; */
    }
}
