.article-head {
    display: flex;
    flex-direction: column;
    height: 134px;
    min-width: 420px;
    width: 100%;
}

.article-head_info {
    display: flex;
    justify-content: space-between;
}

.article-head_subinfo {
    width: 155px;
    height: 49px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
