.article-head {
    display: flex;
    flex-direction: column;
    min-width: 42rem;
    max-width: 124rem;
    width: 100%;
}

.article-head_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-head_subinfo {
    height: 49px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
